version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: taskapp-postgres
    restart: always
    environment:
      POSTGRES_DB: taskapp
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: taskapp-backend
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/taskapp

      APP_JWT_SECRET: ${JWT_SECRET}
      APP_JWT_EXPIRATION_MS: 3600000
    restart: always

volumes:
  postgres_data:
